{% extends "base-secu.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
<!-- Rendu visuel du de la page inscription -->  



    <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->
        
        <div class="back-to-home rounded d-none d-sm-block">
            <a href="{{ path('home')}}" class="btn btn-icon btn-primary"><img src="{{ asset('build/images/home-page-white.png')}}" class="icons"></a>
            
        </div>

        <!-- Hero Start -->
        <section class="cover-user bg-white">
            <div class="container-fluid px-0">
                <div class="row g-0 position-relative">
                    <div class="col-lg-4 cover-my-30 order-2">
                        <div class="cover-user-img d-lg-flex align-items-center">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card border-0" style="z-index: 1">
                                        <div class="card-body p-0">
                                            <h4 class="card-title text-center">Inscription</h4>
                                            <div class="login-form mt-4">
                                                <div class="row">
                                                    {{ form_start(registrationForm) }}

                                                        <h5>{{ form_label(registrationForm.email, 'Email', {'attr': {'class': 'form-label'}}) }} <span class="text-danger">*</span></h5>
                                                        {{ form_errors(registrationForm.email) }}
                                                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control ps-5', 'placeholder': "Email"}}) }}

                                                        <h5>{{ form_label(registrationForm.password, 'Mot de passe ', {'attr': {'class': 'form-label'}}) }} <span class="text-danger">*</span></h5>
                                                        {{ form_errors(registrationForm.password) }}
                                                        {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control ps-5', 'placeholder': "Mot de passe"}}) }}

                                                        <h5>{{ form_label(registrationForm.confirm_password, 'Confirmation ', {'attr': {'class': 'form-label'}}) }} <span class="text-danger">*</span></h5>
                                                        {{ form_errors(registrationForm.confirm_password) }}
                                                        {{ form_widget(registrationForm.confirm_password, {'attr': {'class': 'form-control ps-5', 'placeholder': "Confirmation du mot de passe "}}) }}

                                                        
                                                        {{ form_row(registrationForm.agreeTerms, {'attr': {'label': 'form-control ps-5'}}) }}
                                                        <p style="font-height : 300">Retrouver les <a href="">conditions ici</a></p>

                                                        <div class="col-md-12">
                                                            <div class="d-grid">
                                                                <button type="submit" class="btn btn-primary">S'inscrire</button>
                                                            </div>
                                                        </div>
                                                    {{ form_end(registrationForm) }}
                                                    
                                                    <!--<div class="col-lg-12 mt-4 text-center">
                                                        <h6>Or Signup With</h6>
                                                        <div class="row">
                                                            <div class="col-6 mt-3">
                                                                <div class="d-grid">
                                                                    <a href="javascript:void(0)" class="btn btn-light"><i class="mdi mdi-facebook text-primary"></i> Facebook</a>
                                                                </div>
                                                            </div><!--end col->
                                                            
                                                            <div class="col-6 mt-3">
                                                                <div class="d-grid">
                                                                    <a href="javascript:void(0)" class="btn btn-light"><i class="mdi mdi-google text-danger"></i> Google</a>
                                                                </div>
                                                            </div><!--end col->
                                                        </div>
                                                    </div><!--end col->-->
                                                    <div class="mx-auto">
                                                        <p class="mb-0 mt-3"><small class="text-dark me-2">Déjà un compte ?</small> <a href="{{ path('app_login')}}" class="text-dark fw-bold">Se connecter</a></p>
                                                    </div>
                                                </div><!--end row-->
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->
                        </div> <!-- end about detail -->
                    </div> <!-- end col -->    
                    
                   <div class="col-lg-8 offset-lg-4 padding-less img order-1" style="background-image: url({{ asset('build/images/02.jpg') }})"></div>   
                </div><!--end row-->
            </div><!--end container fluid-->
        </section><!--end section-->
        <!-- Hero End -->


{% endblock %}
