<!DOCTYPE html>
<html>
<!-- Base du rendu visuel de la section securité/connexion et de la section inscription -->
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.ico')}}" />
        
    </head>
    <body>
        <header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <a class="logo" href="{{ path('home')}}">
                    <img src="{{ asset('build/images/WIIM-IT2.png') }}" height="38" class="logo-light-mode" alt="">
                    <!-- Logo container, contenant plutôt le nom de l'entreprise à l'écrit--><img src="images/logo-light.png" height="24" class="logo-dark-mode" alt="">
                </a>
                <div class="buy-button">
                    <a href="{{ path('app_login')}}"><img  height="40" src="{{ asset('build/images/user-icon.svg') }}" class="btn btn-primary"></a>
                </div><!--end login button-->
                {% if app.user and app.user.getStripeId() != null %} 
                <div class="buy-button">
                    <a href="{{ path('account_manager')}}" class="btn btn-primary" >Gérer</a>
                </div>
                {% endif %}
                
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>
        
                <div id="navigation">
                    <!-- Navigation Menu-->   
                    <ul class="navigation-menu">
                        <li><a href="{{ path('home')}}" class="sub-menu-item">Home</a></li>
                        <li><a href="#catalogue" class="sub-menu-item">Catalogue</a></li>
                        
                        <li><a href="{{ path('contact')}}" class="sub-menu-item">Contact</a></li>
                        
                    </ul><!--end navigation menu-->
                    <div class="buy-menu-btn d-none">
                        <a href="" target="_blank" class="btn btn-primary">Buy Now</a>
                    </div><!--end login button-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->
        <div id="body-div" >
        <!-- Message flash pour la confirmation du compte -->
        {% for messages in app.flashes(['verify_email_error','verify_email_check','success']) %}
            {% for message in messages %}
            <div class="flash-notice" style="margin-top: 74px;">
                {{ message }}
            </div>
            {% endfor %}
        {% endfor %}
 
        <!--
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    
                </div>
            </div>
        </div> -->
        {% block body %}{% endblock %}
        </div>
        <!-- Footer Start -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2" style="width: 33%;">
                        <a href="{{ path('home')}}" class="logo-footer">
                            <h5 class="text-dark footer-head">WIIM IT</h5>
                        </a>
                        <p class="mt-4 text-muted">Commencer votre expérience Wiim-It dès aujourd'hui, et sauvegarder toutes vos informations dans nos services. Votre sécurité est notre priorité</p>
                        {#<ul class="list-unstyled social-icon social mb-0 mt-4">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                        </ul><!--end icon-->#}
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2" style="width: 33%;">
                        <h5 class="text-dark footer-head">Company</h5>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="{{ path('app_login')}}" class="text-muted"><i class="uil uil-angle-right-b me-1"></i> Connexion</a></li>
                            <li><a href="{{ path('contact')}}" class="text-muted"><i class="uil uil-angle-right-b me-1"></i> Nous contacter</a></li>
                            
                        </ul>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0" style="width: 33%;">
                        <h5 class="text-dark footer-head">Usefull Links</h5>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="{{ path('app_register')}}" class="text-muted"><i class="uil uil-angle-right-b me-1"></i> Inscription</a></li>
                            <li><a href="" class="text-muted"><i class="uil uil-angle-right-b me-1"></i> Nos conditions d'utilisations</a></li>

                            
                        </ul>
                    </div><!--end col-->

                    {#<div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-dark footer-head">Newsletter</h5>
                        <p class="mt-4 text-muted">Sign up and receive the latest tips via email.</p>
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="foot-subscribe foot-white mb-3">
                                        <label class="form-label text-muted">Write your email <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="mail" class="fea icon-sm icons"></i>
                                            <input type="email" name="email" id="emailsubscribe" class="form-control bg-light border ps-5 rounded" placeholder="Your email : " required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="d-grid">
                                        <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary" value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--end col-->#}
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <footer class="footer footer-bar">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="text-sm-start">
                            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> WIIM-IT. Design <i class="mdi mdi-heart text-danger"></i> <!--by Abel LOSEGO - Rennaissance Web--></a>.</p>
                        </div>
                    </div><!--end col-->

                    <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <ul class="list-unstyled text-sm-end mb-0">
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/american-ex.png" class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/discover.png" class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/master-card.png" class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/paypal.png" class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/visa.png" class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

        

        
            
            
        {% block javascripts %}    
            
            {#{{ encore_entry_script_tags('appli') }}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('bootstrap_bundle') }}
            {{ encore_entry_script_tags('slider') }}
            {{ encore_entry_script_tags('plugin_js') }}
            {{ encore_entry_script_tags('feather_js') }}
            {{ encore_entry_script_tags('tobii') }}#}
            
        {% endblock %}
        
    </body>
</html>
        
